html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  position: relative;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.click-effect {
  animation: click-effect 300ms linear 0s;
  border-radius: 50%;
  border: 4px solid #6eb2e0;
  position: absolute;
  z-index: 1000000;
}

@keyframes click-effect {
  0% {
    height: 0;
    opacity: 1;
    transform: translate(0, 0);
    width: 0;
  }
  100% {
    height: 100px; /*円の高さ幅の最大値*/
    width: 100px; /*基本高さと合わせる*/
    opacity: 0;
    transform: translate(-50px, -50px); /*高さの半分の値にする*/
  }
}
