.card {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.result {
  border: 3px solid #f30000;
  background-color: #0070f3;
  transform: skewX(-15deg);

  color: #ffffff;
  text-align: center;
}

.resultLabel {
}

.resultValue {
}
