.tweet {
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
  display: flex;
  padding: 16px 16px 0;
}

.icon {
  width: 48px;
  height: 48px;
  margin-right: 12px;
  border-radius: 1000000px;
}

.displayName {
  font-weight: bold;
  color: #000000;
}

.screenName {
  color: #999999;
}

.header {
}

.content {
}

.footer {
  display: flex;
}
